.card-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .card-box {
        display: flex!important;
        flex-direction: column;
    }
}

.card {
    box-sizing: border-box;
    box-shadow: 0px 2px 4px var(--shadow);
    border-radius: 12px;
    background: var(--white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.card-box__title {
    font-family: "Roboto";
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 0 6px 0;
}

.card-box_double {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.card-box__item {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-box__description {
    color: var(--grey-4);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

.card__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}