.card-box {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    min-height: 90vh;
}

.card-box__card {
    min-height: 420px;
    padding-bottom: 1%;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px var(--shadow);
    border-radius: 12px;
    background: var(--white);
    flex: 0 1 30%;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-content: center;
}

.card-box__title {
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 0 6px 0;
}
.card-box_double {
    display: flex;
    
}
.card-box__item {
    max-height: 70%;
    max-width: 90%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.card-box__description {
    color: var(--grey-4);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}