.histogramm {
    font-family: "Inter";
    font-size: 16px;
    border: 1px solid var(--grey-3);
    padding: 16px 24px 24px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    color: var(--black);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.histogramm__title {
    flex: 0 1 auto;
    box-sizing: border-box;
}

.histogramm__viewlink {
    flex: 0 1 auto;
    box-sizing: border-box;
    color: var(--blue-1);
}

.histogramm__total {
    flex: 0 1 100%;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 39px;
}

.histogramm__visualisation {
    flex: 0 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.histogramm__row {
    background-color: var(--blue-1);
    align-self: flex-end;
    flex: 0 0.1 auto;
    margin: 1px;
    width: 3%;
    height: 50px;
}