.page__box {
    margin: 0 auto;
    max-width: 1110px;
}

@media (max-width: 768px) {
    .page__box {
        max-width: auto;
        padding: 0 10px;
    }
}

.page__box_body-template {
    min-height: 782px;
}