.skeleton {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    display: flexbox;
    box-sizing: border-box;
    margin: 0;
    padding: 24px 32px 40px 32px;
    background: var(--white);
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
}

.skeleton__flex-box {
    margin: 0;
    padding: 0;
    flex: 0 1 auto;
}

.skeleton__in-item {
    display: block;
    width: 50%;
    height: 20px;
    margin: 8px 0;
}

.skeleton__in-item_short {
    width: 33%;
}

.skeleton__flex-box:nth-child(1) {
    margin: 0 16px 24px 0;
    padding: 0;
}

.skeleton__flex-box:nth-child(2) {
    margin: 0 0 24px 0;
    padding: 0;
    flex: 1 1 auto;
}

.skeleton__flex-box:nth-child(3) {
    flex: 1 1 100%;
    margin: 0 0 8px 0;
    padding: 0;
}

.skeleton__flex-box:nth-child(4) {
    flex: 1 1 100%;
    margin: 0;
    padding: 0;
}

.skeleton__eclipse {
    width: 64px;
    height: 64px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    border-radius: 50%;
}

.skeleton__rectangle {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
}