/*footer*/

@media (min-width: 768px) {
    .footer {
        padding: 5rem 0;
    }
}

.footer {
    font-family: 'Inter';
    background: var(--white);
    padding: 2rem 0;
    display: block;
}

.footer_template {
    background-color: var(--grey-1);
    max-height: 166px;
    padding: 0;
}

.footer__text,
.footer__title {
    margin: 0 auto;
    height: auto;
    max-width: 80%;
    text-align: center;
    margin-bottom: 32px;
    letter-spacing: 0em;
}

.footer__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer:last-child {
    margin-bottom: 0;
}

.footer__title_template {
    color: var(--grey-3);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 0 auto;
    padding: 56px 0;
}


/*footer*/