.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--modal-fon);
    z-index: 100;
}

.modal__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 428px;
    background-color: var(--white);
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 33px;
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
}

.modal__close {
    position: absolute;
    width: 9px;
    height: 9px;
    opacity: 0.4;
    border: none;
    padding: 0;
    background: none;
    top: 15px;
    right: 15px;
}

.modal__close:hover {
    opacity: 1;
}

.modal__description {
    flex: 0 1 193px;
    align-self: stretch;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.modal__title {
    align-self: flex-start;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}